<div class="login">
  <div id ="login-container" class="container">
    <div class="form">

<h1>Editar Usuario</h1>

<!--Call _form.hmtl.erb --> 

    <%= render 'form' %>

  
    </div>
  </div>
</div>