
 

<!-- Create User Template-->
<div class="login">
  <div id ="login-container" class="container">
    <div class="form">

<h1>Registrate</h1>

<!--Call _form.hmtl.erb --> 
	
	<% if flash[:notice] %>
    
   <div class="alert alert-danger" role="alert">
    <stronger><%= flash[:notice] %></stronger>    
  </div>
 <% end %>

  <script type="text/javascript">
  $(function() {
    setTimeout(function(){
      $('.alert').slideUp(500);
    }, 1000);
  });
  </script>

    <%= render 'form' %>

  
    </div>
  </div>
</div>


